# Ignore files and folders below
keypointnet_ros/scripts/trained_models/
keypointnet_ros/scripts/dataset/
keypointnet_ros/scripts/.ipynb_checkpoints
*.pdparams
keypointnet_ros/scripts/*/__pycache__/
keypointnet_ros/scripts/__pycache__/
*pyc
